{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="h3 mb-3 d-flex justify-content-center">Регистрация</h1>
<div class="mt-4 d-flex justify-content-center">

    {{ form_start(registrationForm) }}
        <div class="form-group">
        {{ form_label(registrationForm.username) }}
        {{ form_errors(registrationForm.username) }}
        {{ form_widget(registrationForm.username, {
            'attr' : {'class' : 'form-control'}
        }) }}
        </div>
        <div class="form-group">
        {{ form_label(registrationForm.plainPassword, null, {
            'label' : 'Password'
        })}}
        {{ form_errors(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.plainPassword, {
            'attr' : {'class' : 'form-control'}
        }) }}
        </div>
    <div class="custom-control custom-checkbox mb-3">
        {{ form_label(registrationForm.agreeTerms) }}
        {{ form_errors(registrationForm.agreeTerms) }}
        {{ form_widget(registrationForm.agreeTerms) }}
    </div>

        <button class="mt-1 btn btn-lg btn-primary" type="submit">
            Зарегистрироваться
        </button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
